.main{
    border: 3px solid yellow;
    width: 550px;
    margin: 0 auto;
}

.result{
    width: 100%;
    height: 50px;
    background-color:rgba(240, 240, 240, 0.822);
    border-bottom: 3px solid black;
}

#clearbtn{
    width: 97%;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color:rgb(129, 248, 129);
}

.btn{
    background-color: silver;
    width: 120px;
    height: 50px;
    margin: 6px;
}
#zerobtn{
    background-color: silver;
    width: 215px ;
    height: 50px;
    margin: 6px;
}
#halfbtn{
    background-color: skyblue;
    width: 295px ;
    height: 50px;
    margin: 6px;
}